.ui-selectonemenu {
    padding-right: 0 !important;
}

.ui-selectonemenu label {
    width: auto !important;
}
.ui-selectonemenu-trigger {
    width: 25px !important;
}
.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
     overflow-x: hidden !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-size: 12px !important;
}


.oneMenuBoxResising .ui-selectonemenu {
   box-sizing: border-box;
}
